<div class="row">
    <div class="col-md-10 offset-md-1 articles">
        <div class="row">
            <div class="scraper col-md-4">
                <h2 class="text-left">Scrape:</h2>
            </div>
            <div class="col-md-8">
                <a href="./scrape">
                    <button class="btn btn-success">Dog's Articles</button>
                </a>              
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="scraper col-md-4">
                <h2 class="text-left">View:</h2>
            </div>
            <div class="col-md-8">
                <a href="./view">
                    <button class="btn btn-success">View Articles</button>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            {{#each posts}}
            <div class="col-md-4">
                <div class="card storyCard">
                    <img src="{{image}}" alt="" class="card-img-top articleImg">
                    <div class="card-body">
                        <h5 class="card-title">{{headline}}</h5>
                        <h6 class="card-title"><i></i>Category: <a href="https://moderndogmagazine.com{{byline}}" target="_blank">{{byline}}</a></h6>
                        <p class="card-text">{{summary}}</p>
                        <a href="https://moderndogmagazine.com{{url}}" target="_blank" class="btn btn-primary">Read More</a>
                        <a href="/comments/{{_id}}"><button class="btn btn-secondary">Comment</button></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
